/* Body styles */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Form styles */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}



legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.submit-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #4CAF50;
}

/* Survey output styles */
.submit-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.submit-info p {
    margin-bottom: 10px;
    text-decoration: none
}

.submit-info p:last-child {
    margin-bottom: 0;
}

.submit-info p span {
    font-weight: bold;
}